body {
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 90vh;
  min-height: 90vh;
}
h2 {
  background-color: white;
}
form {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
p {
  padding: -10px;
}

.main-screen {
  margin-top: 25px;
  min-width: 190vh;
  min-height: 82vh;
  position: relative;
  background-color: white;
  border-radius: 10px;
  padding-top: 10vh;
}
.prov-selector {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.terminal {
  margin-top: 25px;
  min-width: 190vh;
  min-height: 72vh;
  background-color: white;
  border-radius: 10px;
}
.beeline {
  padding: 5px;
  border-radius: 45%;
}
.MTS {
  width: 400px;
}
.megafon {
  border-radius: 50%;
}

.terminal-logo,
.beeline {
  margin-top: 5vh;
  max-height: 50vh;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.terminal-logo {
  height: 60vh;
  width: auto;
}
.terminal-logo,
.MTS {
  min-width: 65vh;
}
.cell-selector {
  max-width: 300px;
  border: 2px solid transparent;
}
img.beeline:hover {
  border-color: yellow;
}
img.megafon:hover {
  border-color: green;
}
img.MTS:hover {
  border-color: red;
}
.error {
  margin-top: 1px;
  text-align: end;
  min-width: 67vh;
  color: red;
}
.buttons {
  width: 50vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5vh;
  margin-top: 1vh;
}
