.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.prov-selector {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 12%;
}

.beeline {
  border-radius: 50%;
}
.MTS {
  width: 400px;
}
.megafon {
  border-radius: 50%;
}

img {
  width: 300px;
  border: 2px solid transparent;
}
img:hover {
  border-color: black;
}
